<div
  class="list-group list-group-flush"
  style="max-height: 400px; overflow-y: scroll"
>
  <div *ngIf="dosages$ | async as dosages">
    <ng-container *ngIf="dosages.length > 0; else empty">
      <a
        *ngFor="let v of dosages"
        href="#"
        class="list-group-item list-group-item-action list-group-item-light"
        aria-current="true"
      >
        <div class="w-100">
          <h5 class="mb-1 fs-6">{{ v.medicine }}</h5>
        </div>
        <p class="mb-1">{{ v.dose }}</p>
        <small class="fw-medium">
          Every
          {{
            v.interval === "custom"
              ? calculateDays(v.customInterval)
              : v.interval === "day"
              ? "1 day"
              : "7 days"
          }}</small
        >
      </a>
    </ng-container>
    <ng-template #empty>
      <div
        class="w-100 d-flex align-items-center justify-content-center"
        style="margin: 100px 0"
      >
        <small class="ms-2"> No Health dosages added </small>
      </div>
    </ng-template>
  </div>
</div>
