<form
  [formGroup]="form"
  (ngSubmit)="login()"
  style="min-height: 100vh; width: 100vw"
  class="d-flex justify-content-center align-items-center"
>
  <section class="row justify-content-center">
    <h1 style="text-align: center" class="col-12">HealthPlus</h1>
    <div class="card col-9">
      <div class="card-body">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            formControlName="userName"
            type="text"
            class="form-control"
            id="username"
            placeholder="John"
          />
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
      </div>
    </div>
  </section>
</form>
